/*** Simple Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*** Variables */

:root {
  font-size: 10px;

  --header-height: 6rem;
  --mobile-menu-width: 4rem;

  --purple-dark-2: hsl(270, 0%, 5%);
  --purple-dark-1: hsl(270, 20%, 15%);
  --purple: hsl(270, 40%, 50%);
  --purple-light-1: hsl(270, 40%, 55%);
}

.dark-mode {
  --purple-dark-2: rgb(254, 254, 254);
  --purple-dark-1: hsl(268, 89%, 83%);
  --purple: hsl(271, 17%, 66%);
  --purple-light-1: hsl(153, 40%, 55%);
}

/*** Desktop-Menu */

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: var(--purple-dark-1);
  color: var(--purple);
  padding-top: var(--header-height);
}
header {
  background-color: var(--purple-dark-2);
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 0;
}

nav {
  gap: 4rem;
}
nav ul {
  justify-content: center;
  align-content: center;
  text-align: center;
  display: block;
  gap: 2rem;
  list-style: none;
}
nav ul li a {
  display: block;
  line-height: var(--header-height);
  text-decoration: none;
  color: var(--light);
}
main {
  padding: 2rem;
  text-align: center;
}
main a {
  color: var(--purple);
}

#meniuIcon {
  display: none;
  text-align: center;
  font-size: 36px;
  margin-top: 6px;
  margin-bottom: 6px;
}

/** - Tablet Landscape und Large UI Scales */

@media (max-width: 1024px) {
  #menuDesktop {
    display: none;
  }
  #meniuIcon {
    display: block;
  }
}

.hidden {
  display: block;
}

@media (max-width: 410px) {
  .hidden {
    display: none;
  }
  .liElementNav {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .liElementNav {
    height: fit-content;
    width: fit-content;
  }
  nav ul {
    display: flex !important;
    text-align: center;
  }
  nav ul li a {
    display: flex !important;
  }
}

#insta {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 30px;
}

#github {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 30px;
}

#linkedin {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 30px;
}

footer {
  text-align: center;
  background-color: var(--purple-dark-1);
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 130px;
  overflow: hidden;
}

#divFooter {
  text-align: center;
}

header {
  position: fixed;
  top: 0;
}

@media (min-width: 1024px) {
  footer {
    position: absolute;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#switchInput:checked + .slider {
  background-color: #2196f3;
}

#switchInput:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

#switchInput:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#divDarkMode {
  position: fixed;
  right: 40px;
}

.containerDiv {
  max-width: 300px;

  margin: 0 auto;

  margin-top: 5vh;
}

.card {
  background-color: white;

  border: 3px solid var(--purple-light-1);

  padding: 8px;

  border-radius: 35px;
}

@media (min-width: 1024px) {
  .containerDiv {
    max-width: 600px;
  }
}
.tag {
  padding: 4px 8px;
  border: 1px solid #e5eaed;

  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #788697;
}

.name {
  font-size: 28px;
  font-weight: 600;

  margin-top: 16px;
}

div p {
  font-size: 24px;
  color: #7f8c9b;
  line-height: 150%;
}

button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;

  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;

  margin: 0 auto;
  display: block;

  cursor: pointer;
}

.card__details {
  padding: 16px 8px 8px 8px;
}

/* button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
} */

@media (min-width: 1024px) {
  .tag {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }

  /* #parrentOfCards {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .containerDiv {
    margin-left: 30px;
    margin-right: 30px;
  }
  .containerDiv {
    display: flex;
    flex-flow: row wrap;
  } */
}

@media (max-width: 1024px) {
  .containerDiv {
    margin: 0 auto;
    margin-top: 5vh;
  }
  #firstCard {
    margin: 0 auto;
  }
}

@media (max-height: 500px) {
  footer {
    display: none;
  }
}
